<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>年龄计算器</title>
    <link rel="stylesheet" type="text/css"  href="https://res.wx.qq.com/open/libs/weui/1.1.1/weui.min.css">
    <link rel="stylesheet" type="text/css"  href="style.css">
    <script type="text/javascript" src="vendor.v1.js"></script>
    <link rel="shortcut icon" href="bitbug_favicon.ico" type="image/x-icon">
</head>
<body>
    
    <div id="app" class="container">
        <!-- <img id="cover" src="58e66f7926fdf0895d694b22ce3a9390.jpg"> -->
        <div style="display: none;"><img id="cover"></div>
        <div class="weui-cells_title">年龄计算器</div>   
        <div class="page__bd page__bd_spacing">
             <input v-model="age" placeholder="点击选择您的生日" class="weui-input" v-on:click="showDatePicker" readonly="readonly"> 
            <div class="button-sp-area">
                    <a href="javascript:;" class="weui-btn weui-btn_plain-primary" v-on:click="submitAge">确定</a>
            </div>
        </div>
        <div class="result" v-if="show_result">
            <p>
                 <div class="weui-progress">
                    <div class="weui-progress__bar">
                        <div class="weui-progress__inner-bar js_progress" v-bind:style="{ width: long_time + '%'}"></div>
                    </div>
                </div>
             </p>
             <p class="title">您已经活了</p>
             <p class="live-info">{{live_info}}</p>
             <p class="title">距离100岁,还有</p>
             <p class="can-live-info">{{can_live_info}}</p>
             
        </div>
        <transition name="fade">
        <div id="loadingToast" v-if="isActive">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-loading weui-icon_toast"></i>
                <p class="weui-toast__content">正在计算</p>
            </div>
        </div>
         </transition>

         <div class="js_dialog" id="iosDialog2" style="opacity: 1;" v-if="show_error">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__bd">{{error_msg}}</div>
                <div class="weui-dialog__ft">
                    <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" v-on:click='closeMsg'>知道了</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script type="text/javascript" src="main.v1.js"></script>
</body>
</html>
